body {
    background-color: white;
    text-align: center;
    margin: 0;
}

h1, h2 {
    margin-block-start: 0;
    margin-block-end: 0;
}


/* .container {
    position: relative;
} */

.key-visual {
    margin: 0 auto;
    position: relative;
    /* position: absolute; */
    margin-inline: auto;
    max-width: fit-content;
    text-align: center;
}

.key-visual-image {
    bottom: 0;
    height: 100vh;
    margin: auto;
    display: block;
}

.key-visual-title {
    font-family: "Shadows Into Light", cursive;
    font-size: 5rem;
}

.photo-card {
    position: absolute;
    box-shadow: 20px 20px 100px rgba(0, 0, 0, 25%);
    border: solid white;
    border-width: 5px 5px 10px 5px;
    background-color: white;
}

.photo-card-image {
    min-width: 1rem;
    max-width: 10rem;
    margin: auto;
}

.photo-card-title {
    font-family: "Shadows Into Light", cursive;
    font-size: 1.5rem;
}

.photo-card-1 {
    transform: rotate(5deg);
    top: 200px;
    left: 0;
}

.photo-card-2 {
    transform: rotate(-5deg);
    top: 500px;
    left: 0;
}

.photo-card-3 {
    transform: rotate(3deg);
    top: 500px;
    left: 300px;
}

.photo-card-4 {
    transform: rotate(-3deg);
    top: 200px;
    left: 300px;
}