<%- include('partials/header.ejs') %>

<div>
    <h1>Add Logbook Entry</h1>
</div>

<fieldset>
    <legend>Search (Optional)</legend>
    <div style="position: relative; width: 100%;">
        <form class="inline-form" onsubmit="event.preventDefault();">
            <input type="search" id="book-search" placeholder="Enter a book name, author or ISBN" autocomplete="off" style="width: 100%;"/>
        </form>

        <ul id="search-results" class="doodle-border hidden" style="position: absolute; top: 100%; left: 0; width: 100%; background: #fffaf5; z-index: 10; list-style: none; padding: 0; margin-top: 5px; max-height: 300px; overflow-y: auto;">
        </ul>
    </div>
</fieldset>

<form autocomplete="off" action="/books/" method="post">
    <label for="isbn">ISBN:</label>
    <input type="text" name="isbn" id="isbn" required>

    <label for="title">Title:</label>
    <input type="text" name="title" id="title" required>

    <label for="author">Author:</label>
    <input type="text" name="author" id="author" required>

    <label for="description">Description:</label>
    <textarea name="description" id="description" required></textarea>

    <label for="review">Review:</label>
    <textarea name="review" id="review" required></textarea>

    <label for="rating">Rating:</label>
    <select name="rating" id="rating" required>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>

    <div class="flex-row">
        <button type="submit">Send Entry</button>
        <button type="button" onclick="window.location.href='/'">Cancel</button>
    </div>
</form>

<script src="/js/search.js"></script>
